{
    "singleQuote": true,
    "printWidth": 200,
    "proseWrap":"always",
    "tabWidth": 4,
    "useTabs":false,
    "semi":true,
    "trailingComma":"none",
    "bracketSpacing": true,
    "jsxBracketSameLine": false
}